:root {
  --cui-font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --cui-font-family-roman: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;

  /* --cui-face-color: #E8EBE4;
  --cui-frame-color: #13293D;
  --cui-tick-color: #13293D;
  --cui-number-color: #13293D;
  --cui-info-color: #13293D;

  --cui-hand-color: #13293D;
  --cui-hand-accent-color: #E8EBE4;

  --cui-hour-hand-color: #13293D;
  --cui-hour-hand-accent-color: #E8EBE4;
  --cui-minute-hand-color: #13293D;
  --cui-minute-hand-accent-color: #E8EBE4;
  --cui-second-hand-color: #F55D3E;
  --cui-pin-color: #13293D; */

  --cui-bg-color: #E8EBE4;
  --cui-primary-color: #13293D;
  --cui-secondary-color: #E8EBE4;
  --cui-accent-color: #F55D3E;
}

.clock-ui {
  background-color: var(--cui-frame-color, var(--cui-face-color, var(--cui-bg-color)));
  border-radius: 50%;
}

.clock-ui--bordered {
  padding: calc((var(--cui-width) * 0.033) * 1px);
}

.clock-ui__face {
  background-color: var(--cui-face-color, var(--cui-bg-color));
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
}

.clock-ui--bordered .clock-ui__face::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset calc((var(--cui-width) * 0.005) * 1px) calc((var(--cui-width) * 0.005) * 1px) calc((var(--cui-width) * 0.033) * 1px) calc((var(--cui-width) * 0.0125) * -1px) rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.clock-ui__hand {
  --offset: calc((var(--cui-width) * 0.05) * 1px);
  --height: calc((var(--cui-width) * 0.025) * 1px);
  background-color: var(--cui-hand-color, var(--cui-primary-color));
  position: absolute;
  height: var(--height);
  transform-origin: center left;
  border-radius: var(--height);
  top: 50%;
  left: calc(50% - var(--offset));
  translate: 0 -50%;
  transform-origin: var(--offset) center;
  transition: none;
  rotate: calc((var(--angle) - 90) * 1deg);
  filter: drop-shadow(2px 2px 2px transparent);
}

.clock-ui--rigid .clock-ui__hand--second {
  transition: rotate 400ms cubic-bezier(0.27, -0.37, 0.32, 1.5);
}

.clock-ui__hand--hour {
  background-color: var(--cui-hour-hand-color, var(--cui-hand-color, var(--cui-primary-color)));
  width: calc(30% + var(--offset));
  z-index: 1;
}

.clock-ui__hand--minute {
  background-color: var(--cui-minute-hand-color, var(--cui-hand-color, var(--cui-primary-color)));
  width: calc(40% + var(--offset));
  z-index: 2;
}

.clock-ui__hand--second {
  --offset: calc((var(--cui-width) * 0.1) * 1px);
  --height: calc((var(--cui-width) * 0.005) * 1px);
  background-color: var(--cui-second-hand-color, var(--cui-accent-color));
  height: var(--height);
  width: calc(48% + var(--offset));
  z-index: 3;
}

.clock-ui__hand--hour::before,
.clock-ui__hand--minute::before {
  display: none;
  content: '';
  width: 50%;
  height: 50%;
  border-radius: var(--height);
  background-color: var(--cui-hand-accent-color, var(--cui-secondary-color));
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 2%;
}

.clock-ui--dual-tone .clock-ui__hand--hour::before,
.clock-ui--dual-tone .clock-ui__hand--minute::before {
  display: block;
}

.clock-ui__hand--hour::before {
  background-color: var(--cui-hour-hand-accent-color, var(--cui-hand-accent-color, var(--cui-secondary-color)));
}

.clock-ui__hand--minute::before {
  background-color: var(--cui-minute-hand-accent-color, var(--cui-hand-accent-color, var(--cui-secondary-color)));
}

.clock-ui__hand--second::before {
  content: '';
  --size: calc((var(--cui-width) * 0.033) * 1px);
  position: absolute;
  top: 50%;
  left: var(--offset);
  translate: -50% -50%;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--cui-second-hand-color, var(--cui-accent-color));
  z-index: 5;
  box-sizing: content-box;
}

.clock-ui__center {
  --size: calc((var(--cui-width) * 0.0125) * 1px);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--cui-pin-color, var(--cui-primary-color));
  z-index: 6;
}

.clock-ui__info {
  --size: calc((var(--cui-width) * 0.0833) * 1px);
  position: absolute;
  top: 50%;
  left: 75%;
  height: var(--size);
  width: var(--size);
  background-color: transparent;
  opacity: 0.7;
  color: var(--cui-info-color, var(--cui-number-color, var(--cui-primary-color)));
  font-family: var(--cui-font-family);
  font-size: calc((var(--cui-width) * 0.0555555556) * 1px);
  line-height: 0;
  translate: -50% -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc((var(--cui-width) * 0.01) * 1px);
  box-shadow: inset calc((var(--cui-width) * 0.002) * 1px) calc((var(--cui-width) * 0.002) * 1px) calc((var(--cui-width) * 0.005) * 1px) rgba(0, 0, 0, 0.5);
}

.clock-ui__tick {
  --width: calc((var(--cui-width) * 0.005) * 1px);
  --height: calc((var(--cui-width) * 0.02) * 1px);
  position: absolute;
  background-color: var(--cui-tick-color, var(--cui-primary-color));
  width: var(--width);
  height: var(--height);
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: rotate(calc(var(--i) * 6deg)) translateY(calc((var(--cui-width) * 0.4761904762) * -1px));
  translate: -50% -50%;
  border-radius: var(--width);
  opacity: 0.5;
}

.clock-ui__tick--major {
  --width: calc((var(--cui-width) * 0.0101010101) * 1px);
  --height: calc((var(--cui-width) * 0.0333333333) * 1px);
  height: var(--height);
  width: var(--width);
  opacity: 0.8;
}

.clock-ui__number {
  position: absolute;
  color: var(--cui-number-color, var(--cui-primary-color));
  font-family: var(--cui-font-family);
  font-size: calc((var(--cui-width) * 0.1) * 1px);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center;
  transform: rotate(calc(var(--n) * 30deg)) translateY(calc((var(--cui-width) * 0.3921568627) * -1px)) rotate(calc(var(--n) * -30deg));
}

.clock-ui__number--cardinal {
  font-size: calc((var(--cui-width) * 0.1) * 1px);
}

.clock-ui--roman .clock-ui__number {
  font-family: var(--cui-font-family-roman, var(--cui-font-family));
  transform: rotate(calc(var(--n) * 30deg)) translateY(calc((var(--cui-width) * 0.3921568627) * -1px));
}
